.Panel{
    height:100vh; 
    
}

.panel-container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    position: relative;
}

.panel-container >div{ 
    height: 210px;
    background:url('../images/todd-quackenbush-x5SRhkFajrA-unsplash.jpg');
    background-size:cover; 
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white; 
}

/* all of this style is to give the background backdrop*/

.panel-backdrop{
    position: absolute ;
    top:0px; 
    left:0px; 
    width:100%; 
    height:100%; 
    background-color: rgba(0,0,0,0.55);
}

.bg1 h2{
    z-index: 2;
}

.bg1 h2 span{
    z-index: 2;
}

.bg1 p{
    z-index: 2;
}

.bg2 h2{
    z-index: 2;
}

.bg2 h2 span{
    z-index: 2;
}

.bg2 p{
    z-index: 2;
}



/* **********************************************************************       */

/* the same styles applies for media 300-420px, so didn't duplicate */

@media(max-width:768px){
    .panel-container{
        display: none;
    }

    .mobile-panel{
        width:100%; 
        height:100%; 
        display:grid;
        grid-template-columns: repeat(1,1fr);
        background: url('../images/todd-quackenbush-x5SRhkFajrA-unsplash.jpg');
        background-position:center;
        background-size:cover; 
        position: relative;
                
    }
}


@media(max-width:660px){
    .panel-container{
        display: none; 
    }
    .mobile-panel{
        width:100%; 
        height:100%; 
        display:grid;
        grid-template-columns: repeat(1,1fr);
        background: url('../images/todd-quackenbush-x5SRhkFajrA-unsplash.jpg');
        background-position:center;
        background-size:cover; 
        position: relative;
         
    }
    .mobile-panel-bg{
        position: absolute;
        width:100%; 
        height:100%; 
        top:0px; 
        left:0px; 
        background-color:rgba(0,0,0,0.55);
    }
}

@media(max-width:540px){
    .panel-container{
        display: none; 
    }
    .mobile-panel{
        width:100%; 
        height:100%; 
        display:grid;
        grid-template-columns: repeat(1,1fr);
        background: url('../images/todd-quackenbush-x5SRhkFajrA-unsplash.jpg');
        background-position:center;
        background-size:cover; 
        position: relative;
         
    }
    .mobile-panel-bg{
        position: absolute;
        width:100%; 
        height:100%; 
        top:0px; 
        left:0px; 
        background-color:rgba(0,0,0,0.55);
    }}

